{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">

            <div class="card shadow" style="width: 25rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Welcome Back.</h5>
                    <p class="card-text">Please login to continue.</p> <hr>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="input" name="username" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        <small><p class="card-text">Don't have an account? <a href="{% url 'register' %}">Register</a></p></small>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}